.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: #e3e3e3;
}

button:hover {
  cursor: pointer;
}

.login-anchor {
  all: unset;
}

.login-anchor:hover {
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0% 2% 0% 2%;
}
